<div class="container">
    <% @courses.each do |parse| %>
        <div class="card card-header zipcode-block">
            <strong>Course Name: </strong><%= "#{parse[ "name" ]} " %>
            <strong>City: </strong><%= "#{parse[ "city"]} " %>
            <strong>State: </strong><%= "#{parse[ "state"]} " %>
            <strong>Holes: </strong><%= "#{parse[ "holes"]} " %>
            <strong>Rating: </strong><%= "#{parse[ "rating"]} " %><br>
            <%= link_to "Course Details", "/courses/course_info/#{parse["course_id"]}", class: "btn btn-outline-info" %>
        </div>
    <% end %>
</div>    
