 <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
            <a class="navbar-brand" href="#">Go Throw!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link-active" aria-current="page" href="#"><%= link_to "Home", root_path %></a>
                    </li>
                    <li class="nav-search">
                        <%= form_with url: "/courses/search", method: :get do |form| %>
                            <%= form.label :findzip, "Search Zip Code:" %>
                            <%= form.text_field :findzip %>
                            <%= form.submit "Search" %>
                        <% end %>
                    </li>
                </ul>
            </div>
      </div>
 </nav>